
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /{document=**} {
      // Allow any client to read and write data.
      // NOTE: This is insecure and is intended for initial development.
      // You should secure your rules before deploying to production.
      allow read, write: if true;
    }
  }
}
